//
//  Language.xcconfig
//  XCConfigs
//
//  Created by Andrey Ilskiy on 11/01/15.
//  Copyright (c) 2015 Andrey Ilskiy. All rights reserved.
//

//Language

GCC_CHAR_IS_UNSIGNED_CHAR = NO
GCC_ENABLE_ASM_KEYWORD = YES
GCC_C_LANGUAGE_STANDARD = gnu11




GCC_ENABLE_FLOATING_POINT_LIBRARY_CALLS = NO
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(PROJECT_NAME)/Supporting Files/PrefixHeader.pch
GCC_ENABLE_BUILTIN_FUNCTIONS = YES
GCC_ENABLE_PASCAL_STRINGS = NO
GCC_SHORT_ENUMS = NO
GCC_USE_STANDARD_INCLUDE_SEARCHING = YES
