//
//  Code-Generation.xcconfig
//  XCConfigs
//
//  Created by Andrey Ilskiy on 11/01/15.
//  Copyright (c) 2015 Andrey Ilskiy. All rights reserved.
//

CLANG_ENABLE_CODE_COVERAGE = YES
GCC_STRICT_ALIASING = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_GENERATE_TEST_COVERAGE_FILES = NO
GCC_DYNAMIC_NO_PIC = NO

GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = NO
GCC_ENABLE_KERNEL_DEVELOPMENT = NO
LLVM_LTO = NO
GCC_REUSE_STRINGS = YES
GCC_NO_COMMON_BLOCKS = NO
CLANG_OPTIMIZATION_PROFILE_FILE = $(SRCROOT)/OptimizationProfiles/$(TARGET_NAME).profdata
GCC_FAST_MATH = NO
GCC_THREADSAFE_STATICS = YES
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_UNROLL_LOOPS = YES
CLANG_USE_OPTIMIZATION_PROFILE = NO