//
//  Code-Generation.xcconfig
//  XCConfigs
//
//  Created by Andrey Ilskiy on 11/01/15.
//  Copyright (c) 2015 Andrey Ilskiy. All rights reserved.
//

GCC_STRICT_ALIASING = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_GENERATE_TEST_COVERAGE_FILES = NO
GCC_DYNAMIC_NO_PIC = NO

GCC_INLINES_ARE_PRIVATE_EXTERN = YES

GCC_ENABLE_KERNEL_DEVELOPMENT = NO

GCC_REUSE_STRINGS = YES
GCC_NO_COMMON_BLOCKS = NO


GCC_FAST_MATH = NO
GCC_THREADSAFE_STATICS = YES
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_UNROLL_LOOPS = YES
CLANG_USE_OPTIMIZATION_PROFILE = NO