//
//  Base.xcconfig
//  XCConfigs
//
//  Created by Andrey Ilskiy on 26/10/14.
//  Copyright (c) 2014 Andrey Ilskiy. All rights reserved.
//

// Architectures

ONLY_ACTIVE_ARCH = YES

//Assets

// Build Locations

//Build Options

DEBUG_INFORMATION_FORMAT = dwarf
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
ENABLE_BITCODE = NO
ENABLE_TESTABILITY = YES

//Code Signing

PROVISIONING_PROFILE =

//Deployment

SKIP_INSTALL = YES


STRIP_STYLE = debugging
SEPARATE_STRIP = NO

//Headers

COPY_HEADERS_RUN_UNIFDEF = NO

//Kernel Module

//Linking
PRESERVE_DEAD_CODE_INITS_AND_TERMS = NO
SUPPORTS_TEXT_BASED_API = NO

//Packaging

INFOPLIST_FILE = $(TARGET_NAME)/Supporting Files/Info.plist










PRODUCT_NAME = $(PROJECT_NAME)
PLIST_FILE_OUTPUT_FORMAT = binary

STRINGS_FILE_OUTPUT_ENCODING = binary

//Search Paths

ALWAYS_SEARCH_USER_PATHS = NO
HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/include**
USE_HEADERMAP = YES


LIBRARY_SEARCH_PATHS = $(SDKROOT)/usr/lib/system



//Testing

TREAT_MISSING_BASELINES_AS_TEST_FAILURES = YES

//Versioning

VERSIONING_SYSTEM = apple-generic

//Address Sanitizer

CLANG_ADDRESS_SANITIZER_CONTAINER_OVERFLOW = YES

#include "Base/Code-Generation.xcconfig"
#include "Base/Language.xcconfig"
#include "Base/Warnings.xcconfig"
#include "Base/Static-Analyzer.xcconfig"
#include "Base/Swift-Compiler.xcconfig"

//Custom Compliler Flags

//User-Defined
