//
//  Base.xcconfig
//  XCConfigs
//
//  Created by Andrey Ilskiy on 26/10/14.
//  Copyright (c) 2014 Andrey Ilskiy. All rights reserved.
//

// Architectures

ONLY_ACTIVE_ARCH = YES

// Build Locations

//Build Options

DEBUG_INFORMATION_FORMAT = dwarf
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
ENABLE_BITCODE = NO
ENABLE_TESTABILITY = YES

//Code Signing

PROVISIONING_PROFILE =

//Deployment

SKIP_INSTALL = YES


STRIP_STYLE = debugging
SEPARATE_STRIP = NO

//Kernel Module

//Linking

//Packaging

INFOPLIST_FILE = $(TARGET_NAME)/Supporting Files/Info.plist










PRODUCT_NAME = $(PROJECT_NAME)
PLIST_FILE_OUTPUT_FORMAT = binary

STRINGS_FILE_OUTPUT_ENCODING = binary

//Search Paths

ALWAYS_SEARCH_USER_PATHS = NO


LIBRARY_SEARCH_PATHS = $(SDKROOT)/usr/lib/system

//Testing

TREAT_MISSING_BASELINES_AS_TEST_FAILURES = NO

//Versioning

VERSIONING_SYSTEM = apple-generic

#include "Base/Code-Generation.xcconfig"
#include "Base/Language.xcconfig"
#include "Base/Warnings.xcconfig"
#include "Base/Static-Analyzer.xcconfig"

//Custom Compliler Flags

//User-Defined
