//
//  Release.xcconfig
//  XCConfigs
//
//  Created by Andrey Ilskiy on 26/10/14.
//  Copyright (c) 2014 Andrey Ilskiy. All rights reserved.
//

//:configuration = Release

//Architectures

ONLY_ACTIVE_ARCH = NO

//Build Options

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_TESTABILITY = NO
VALIDATE_PRODUCT = YES

//Deployment

COPY_PHASE_STRIP = YES

//Linking

DEAD_CODE_STRIPPING = YES

//Code Generation

LLVM_LTO = YES
GCC_DYNAMIC_NO_PIC = YES
GCC_OPTIMIZATION_LEVEL = s

//Preprocessing

ENABLE_NS_ASSERTIONS = NO
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=0 NDEBUG=0 $(inherited)

//User-Defined

MTL_ENABLE_DEBUG_INFO = NO

//Swift
SWIFT_OPTIMIZATION_LEVEL = -O