//
//  Framework.xcconfig
//  XCConfigs
//
//  Created by Andrey Ilskiy on 26/10/14.
//  Copyright (c) 2014 Andrey Ilskiy. All rights reserved.
//

//Deployment

INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks

//Linking

DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1

//Packaging

COMPRESS_PNG_FILES = YES
APPLY_RULES_IN_COPY_FILES = YES
FRAMEWORK_VERSION = A

INFOPLIST_FILE = $(TARGET_NAME)/Supporting Files/Info.plist
PRIVATE_HEADERS_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/PrivateHeaders
PLIST_FILE_OUTPUT_FORMAT = binary
PUBLIC_HEADERS_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/Headers
STRINGS_FILE_OUTPUT_ENCODING = binary
WRAPPER_EXTENSION = framework
